:root {
    /*--- COLORES ---*/
    --bg-color-primario: #fff;
    --bg-color-secundario: #000;
    --bg-color-icons: #FF8DA8;
    --bg-color-icons-footer: #797d7f;
    --font-principal: "Roboto", sans-serif;
}

/*---  VARIABLES GLOBALES  ---*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/**---  SECTION HEADER  ---*/

header {
    background-color: var(--bg-color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    z-index: 5000;
    position: sticky;
    top: 0;
}

.logo a {
    display: block;
}

.logo img {
    padding: 15px;
}

.contenedor-vivo-escritorio {
    display: none;
}

/* ?---  Navecación principal  ---*/

.redes-sociales {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.redes-sociales .botones-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color-icons);
    color: var(--bg-color-primario);
    text-decoration: none;
    border-radius: 50%;
    font-size: 23px;
}

.redes-sociales .whatsapp-logo {
    background-color: #25D366;
}

.tienda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tienda img {
    width: 195px;
    height: auto;
}

.boton-porgramacion-diaria {
    font-weight: 600;
    font-family: var(--font-principal);
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-porgramacion-diaria a {
    text-decoration: none;
    color: var(--bg-color-primario);
    background-color: var(--bg-color-icons);
    border-radius: 9px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
}


/*? ---  Despliegue del menú hamburguesa --- */
.redes-sociales,
.tienda img,
.boton-porgramacion-diaria a {
    margin-bottom: 18px;
}

.menu-hamburguesa {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;

}

.menu-hamburguesa i {
    font-size: 30px;
    color: var(--bg-color-icons);
}

.contenido-menu {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-secundario);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    display: none;
    padding-top: 5px;
    padding-bottom: 10px;
    list-style: none;
}

.contenido-menu.active {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.boton-flotante-vivo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 900;
    border: 1px solid var(--bg-color-primario);
    background-color: var(--bg-color-icons);
    font-family: var(--font-principal);
    color: white;
    padding: 12px 10px;
    border-radius: 50px;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 15px;
    z-index: 3000;
}

/*? --- img-ondemand-1 ---*/

.img-ondemand-1 {
    width: 150%;
    height: auto;
    border-bottom: 2px solid var(--bg-color-icons);
}

.img-ondemand-3 {
    width: 150%;
    height: auto;
    border-top: 2px solid var(--bg-color-icons);
    border-bottom: 2px solid var(--bg-color-icons);
    margin-bottom: 2.5%;
}


/**---  SECTION MAIN  ---*/
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*?---  BANNER RESUMIDO  ---*/

.contenido-pagina-resumido h2 {
    font-family: var(--font-principal);
    background-color: var(--bg-color-secundario);
    color: var(--bg-color-primario);
    text-align: center;
    font-size: 10px;
    border-top: 2px solid var(--bg-color-icons-footer);
    padding: 6px 0;
}

.contenido-pagina-resumido a {
    text-decoration: none;
}

.contenido-resumido {
    background-image: url(multimedia/banner-resumido.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2px 0;
}

.marca-resumido {
    color: var(--bg-color-primario);
    font-size: 25px;
    font-weight: 900;
    font-family: Arial, sans-serif;
    filter: drop-shadow(3px 3px 0 #000);
    letter-spacing: 2px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -0px 1px 0 #000,
        1px 1px 0 #000;
}

/*?--- GALERIA ---*/

.galeria-fondo-de-pantalla {
    background-image: url('multimedia/ilustraciones/fondo-main-mobile-640x960.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagenes-galeria {
    padding: 20px;
}

.programa {
    position: relative;
    margin-bottom: 10%;
    display: inline-block;
    overflow: hidden;
    border: 5px solid var(--bg-color-icons);
    border-radius: 30px;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.9);
}

.programa a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.img-programa {
    display: block;
    width: 100%;
    height: auto;
    z-index: 100;
}

.texto-hover {
    display: none;
}

.imagen-superpuesta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8));
    border-radius: 20px;
    pointer-events: none;
    z-index: 20;
}

.imagen-elenco-aqn,
.imagen-elenco-ndn,
.imagen-elenco-nqs,
.imagen-elenco-pyf,
.imagen-elenco-adm,
.imagen-elenco-dque,
.imagen-elenco-edie,
.imagen-elenco-sm {
    position: absolute;
    filter: drop-shadow(3px 1px 0 #000);
    z-index: 300;
}

.imagen-elenco-aqn {
    bottom: 0;
    right: 1%;
    width: 45%;
    height: auto;
}

.imagen-elenco-ndn {
    bottom: 0;
    right: 1%;
    width: 45%;
    height: auto;
}

.imagen-elenco-nqs {
    bottom: 0px;
    right: 1%;
    width: 36%;
    height: auto;
}

.imagen-elenco-pyf {
    bottom: 0;
    right: 1%;
    width: 52%;
    height: auto;
}

.imagen-elenco-adm {
    bottom: 0;
    right: 1%;
    width: 28%;
    height: auto;
}

.imagen-elenco-dque {
    bottom: 0;
    right: 1%;
    width: 36%;
    height: auto;
}

.imagen-elenco-edie {
    bottom: 0;
    right: 1%;
    width: 48%;
    height: auto;
}

.imagen-elenco-sm {
    bottom: 0;
    right: 1%;
    width: 50%;
    height: auto;
}

/**---  SECTION FOOTER  ---*/
footer {
    background-color: var(--bg-color-secundario);
    color: var(--bg-color-primario);
    padding: 15px;
    text-align: center;
    z-index: 4000;
}

.footer-redes-sociales {
    list-style: none;
    list-style-type: none;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-botones-redes a {
    background-color: var(--bg-color-icons-footer);
    width: 30px;
    height: 30px;
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-programacion-diaria {
    margin-bottom: 15px;
}

.footer-programacion-diaria a {
    color: var(--bg-color-icons-footer);
    font-family: var(--font-principal);
    text-decoration: none;
}






















/**---  MEDIA QUERYS  ---*/


@media (max-width: 600px) {

    .seccion-streaming-en-vivo {
        display: none;
    }

    /*?---  IMG ONDEMAND   ----*/

    .img-ondemand-2 {
        display: none;
    }
}


@media (min-width: 600px) and (max-width: 1024px) {

    /*?---  RADIO EN VIVO   ----*/

    .seccion-streaming-en-vivo {
        background-image: url(multimedia/ilustraciones/circulo-completo-2048x1885-enVivo.png);
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
    }

    .streaming-en-vivo {
        margin: 30px 12px;
    }

    .seccion-streaming-en-vivo iframe {
        width: 100%;
        max-width: 625px;
        height: 350px;
        border-radius: 35px;
        overflow: hidden;
        border: 5px solid var(--bg-color-icons);
    }

    /*?---  IMG ONDEMAND   ----*/

    .img-ondemand-2 {
        width: 150%;
        height: auto;
        border-top: 2px solid var(--bg-color-icons);
        border-bottom: 2px solid var(--bg-color-icons);
    }

    /*?--- GALERIA ---*/

    .imagenes-galeria {
        text-align: center;
    }

    .programa {
        width: 82%;
    }

}
























@media (min-width: 1024px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 12px;
        flex-direction: row;
        text-align: left;
    }

    .contenido-menu {
        display: flex;
        position: static;
        transform: none;
        width: auto;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
    }

    .redes-sociales,
    .tienda img,
    .boton-porgramacion-diaria a {
        margin-bottom: 0;
    }

    .menu-hamburguesa,
    .boton-flotante-vivo {
        display: none;
    }

    .boton-porgramacion-diaria a {
        margin: auto 10px;
    }

    .contenedor-vivo-escritorio {
        display: block;
        justify-content: center;
        align-items: center;
        order: -1;
    }

    .contenedor-vivo-escritorio a {
        display: block;
        text-decoration: none;
        color: var(--bg-color-primario);
        background-color: var(--bg-color-icons);
        border-radius: 9px;
        padding: 12px;
        margin: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    .contenedor-vivo-escritorio a:hover {
        transform: scale(1.05);
    }






    
    .boton-porgramacion-diaria {
        order: -1;
    }

    .contenedor-vivo-escritorio .fa {
        font-size: 80%;
        margin-right: 2.5px;
    }

    .contenedor-vivo-escritorio .boton-vivo-escritorio {
        font-weight: 900;
        font-family: var(--font-principal);
        margin-left: 2.8px;
    }

.contenedor-vivo-escritorio a:hover .boton-vivo-escritorio,
.contenedor-vivo-escritorio a:hover .fa {
    color: #FF0033;
}













.programacion-diaria-container a:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.redes-sociales li a {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.redes-sociales li a:hover {
    transform: scale(1.1);
}


.tienda:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.05);
}


.boton-porgramacion-diaria a:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.05); 
}






















    /*?---  BANNER RESUMIDO  ---*/

    .contenido-pagina-resumido h2 {
        font-size: 18px;
    }

    .contenido-resumido {
        padding: 20px 0;
    }

    .marca-resumido {
        font-size: 50px;
        filter: drop-shadow(3px 3px 0 #000);
    }

    /*?---  RADIO EN VIVO   ----*/

    .seccion-streaming-en-vivo {
        background-image: url(multimedia/ilustraciones/circulo-completo-small.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .streaming-en-vivo {
        margin: 30px 12px;
    }

    .seccion-streaming-en-vivo iframe {
        display: inline-block;
        width: 100%;
        max-width: 900px;
        height: 450px;
        border-radius: 35px;
        overflow: hidden;
        border: 5px solid var(--bg-color-icons);
    }

    /*?---  IMG ONDEMAND   ----*/

    .img-ondemand-2 {
        height: auto;
        border-top: 2px solid var(--bg-color-icons);
        border-bottom: 2px solid var(--bg-color-icons);
    }

    .img-ondemand-1,
    .img-ondemand-2,
    .img-ondemand-3 {
        width: 100%;
    }

    /*?--- GALERIA ---*/

    .imagenes-galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3%;
    }

    .imagen-superpuesta {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8));
    }

    .img-programa {
        transition: transform 0.3s ease;
    }

    .programa {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .texto-hover {
        display: block;
        color: white;
        margin: 0;
        font-family: Arial;
        font-size: 18px;
        font-weight: 900;
        position: absolute;
        bottom: 3%;
        left: 3%;
        text-align: left;
        width: auto;
        height: auto;
        text-shadow: 1px 1px 7px var(--bg-color-icons);
    }

    .programa:hover .imagen-superpuesta {
        opacity: 1;
    }

    .programa:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .programa:hover .img-programa {
        transform: scale(1.1);
    }



    /**---  SECTION FOOTER  ---*/

    .footer-redes-sociales {
        gap: 10px;
        margin: 10px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-redes-sociales a {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .footer-redes-sociales a:hover {
        color: var(--bg-color-primario);
        transform: scale(1.1);
    }

    .footer-programacion-diaria {
        margin-bottom: 15px;
    }

    .footer-programacion-diaria a {
        transition: color 0.3s ease;
    }

    .footer-programacion-diaria a:hover {
        color: var(--bg-color-primario);
    }

}