:root {
  /*--- COLORES ---*/
  --bg-color-primario: #f1f1f1;
  --bg-color-secundario: #1c1c1c;
  --bg-color-icons: #ff8a80;
  --bg-color-icons-footer: #9e9e9e;
  --font-principal: "Roboto", sans-serif;
  --borde-icons: 5px solid var(--bg-color-icons);
  --sombra-fuerte: 3px 5px 12px rgba(0, 0, 0, 0.9);
}

/*---  VARIABLES GLOBALES  ---*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
.menu-hamburguesa {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-principal);
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.bg-color-secundario {
  background-color: var(--bg-color-secundario);
}

.estilo-botones {
  background-color: var(--bg-color-icons);
  color: white;
}

.block {
  display: block;
}

.align-items {
  align-items: center;
}

.text-align {
  text-align: center;
}

.list-style {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.flex-direction-column {
  flex-direction: column;
}

.height-auto {
  height: auto;
}

.width-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.color-primario {
  color: var(--bg-color-primario);
}

.inline-block {
  display: inline-block;
}

.position-absolute {
  position: absolute;
}

.no-seleccionar {
  user-select: none;
}

.object-fit-cover {
  object-fit: cover;
}

.background-cover {
  background: center/cover no-repeat;
}

/**---  SECTION HEADER  ---*/
header {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 26px;
  z-index: 6000;
  position: sticky;
  height: 70px;
  top: 0;
  border-bottom: 2px solid var(--bg-color-icons-footer);
}

.logo {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

.logo img {
  width: 120px;
  height: 23px;
}

.contenedor-vivo-escritorio {
  display: none;
}

/* ?---  Navecación principal  ---*/
.redes-sociales {
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0;
}

.botones-redes {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 28px;
}

.redes-sociales .whatsapp-logo {
  background-color: #25d366;
}

.tienda img {
  width: 200px;
  height: 55px;
}

.boton-programacion-diaria {
  font-weight: 600;
  list-style-type: none;
}

.boton-estandar {
  border-radius: 9px;
  padding: 15px;
  margin: 10px;
}


/*? ---  Despliegue del menú hamburguesa --- */
.redes-sociales,
.tienda img,
.boton-programacion-diaria a {
  margin-bottom: 12px;
}

.menu-hamburguesa {
  cursor: pointer;
  background: none;
  border: none;
}

.menu-hamburguesa i {
  font-size: 30px;
  color: var(--bg-color-icons);
}

.contenido-menu {
  top: 99%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  border-radius: 0 0 15px 15px;
  border-bottom: 2px solid var(--bg-color-icons-footer);
  height: 345px;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.contenido-menu.active {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 10px;
  pointer-events: auto;
}

.boton-flotante-vivo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e10000;
  color: #ffffff;
  border: 3px solid var(--bg-color-primario);
  border-radius: 50px;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
  z-index: 3000;
  font: 600 16px var(--font-principal);
  padding: 15px;
  gap: 5px;
  width: 85px;
  height: 50px;
  will-change: transform;
}


/**---  SECTION MAIN  ---*/
main {
  overflow-x: hidden;
  min-height: 100vh;
}

/*?---  BANNER RESUMIDO  ---*/
.contenido-pagina-resumido h2 {
  font-size: clamp(11px, 2.2vw, 16px);
  padding: 6px 0;
  letter-spacing: 1px;
}

.contenido-resumido {
  background-color: #c6ff00;
  height: 70px;
  padding: 8px 0;
}

.contenido-resumido,
.espacio-lados {
  gap: 6px;
}

.marca-resumido {
  margin: 0;
  font-size: 24px;
  font-family: "Archivo Black", sans-serif;
  filter: drop-shadow(3px 3px 0 #000);
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -0px 1px 0 #000,
    1px 1px 0 #000;
}

.marca-resumido a {
  padding: 4px 8px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.tamaño-r {
  height: 30px;
  width: 30px;
}

.tamaño-flechas {
  height: 20px;
  width: 55px;
}

.voltear {
  transform: scaleX(-1);
}

.ocultar {
  display: none;
}

/*? --- mensaje-ondemand ---*/
.marquesina-mensaje-ondemand {
  gap: 20px;
  padding-block: 8px;
  white-space: nowrap;
  box-sizing: border-box;
  border-block: 2px solid var(--bg-color-icons);
  height: 30px;
}

.mensaje-ondemand-contenido {
  width: max-content;
  will-change: transform;
}

.mensaje-ondemand-contenido span {
  line-height: 0.6;
  margin: 0;
  letter-spacing: 1px;
  padding-left: 5px;
  font: 900 0.8rem Arial, Helvetica, sans-serif;
}

.ondemand-3 {
  margin-bottom: 40px;
}

/*?---  RADIO EN VIVO   ----*/
.fondo-seccion {
  background-image: url("img/fondos/fondos-seccion-inicial/fondo-streaming-en-vivo-mobile-tablet.webp");
}

.streaming-en-vivo,
.grilla-programas {
  margin: 30px 12px;
}

.seccion-streaming-en-vivo iframe,
.grilla-programas img {
  max-width: 900px;
  border-radius: 35px;
  border: 5px solid var(--bg-color-icons);
}

.seccion-streaming-en-vivo iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  background-color: #000;
}


iframe {
  border: none;
}

/*!---  PAGINA DE INICIO  ---*/
/*?--- GALERIA ---*/
.fondo-main-index {
  background-image: url("img/fondos/fondos-main/fondo-pagina-index/fondo-main-mobile-tablet.webp");
}

.fondo-main-programacion-diaria {
  background-image: url("img/fondos/fondos-main/fondo-pagina-programacion-diaria/fondo-main-programacion-diaria-mobile-tablet.webp");
}

.imagenes-galeria {
  padding: 40px 20px 60px;
  gap: 45px;
}

.programa {
  position: relative;
  border: 5px solid var(--bg-color-icons);
  border-radius: 30px;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.9);
  min-height: 100px;
}

.programa a {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-programa {
  z-index: 100;
  width: 100%;
  height: auto;
  aspect-ratio: 1/0.5;
  object-fit: cover;
  display: block;
}

.imagen-superpuesta {
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.8));
  border-radius: 20px;
  pointer-events: none;
  z-index: 20;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.8));
}

.texto-iformacion-programa {
  margin: 0;
  font: 900 18px var(--font-principal);
  bottom: 5%;
  left: 5%;
  text-align: start;
  width: auto;
  height: auto;
  text-shadow: 0px 0px 7px #000;
}

.imagen-elenco,
.programacion-diaria-img-contenedor-elencos {
  bottom: 0;
  right: var(--custom-right, 0);
  filter: drop-shadow(3px 1px 0 #000);
  z-index: 300;
}

.imagen-elenco-mask {
  -webkit-mask-image: linear-gradient(to left, black 98%, transparent);
  mask-image: linear-gradient(to left, black 94%, transparent);
}

/*!--- MEDIDAS GENERALES IMG Y ELENCO ---*/

.width-custom {
  width: var(--custom-width);
}

.right-costum {
  right: var(--custom-right);
}

/*!--- PAGINA PROGRAMACION DIARIA ---*/
.contenido-programacion-diaria {
  gap: 55px;
  padding: 30px;
}

.programacion-diaria-programa {
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.programa-visible {
  opacity: 1;
  transform: translateY(0);
}

.programacion-diaria-programa a {
  color: inherit;
  justify-items: center;
  cursor: pointer;
  border: 3px solid var(--bg-color-icons);
  border-radius: 30px;
  position: relative;
  z-index: 5000;
}

.img-contenido-programas {
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom,
      black 0%,
      black 60%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.4) 100%,
      transparent 100%);
  mask-image: linear-gradient(to bottom,
      black 0%,
      black 60%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.4) 100%,
      transparent 100%);
}

.programacion-diaria-img-programa {
  width: 110%;
  height: auto;
}

.informacion-programa {
  padding: 10px 20px 20px 20px;
  border-radius: 25px;
}

.titulo-programa {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.descripcion-programa {
  font-size: 1rem;
  line-height: 1.5;
}

.horario-programa {
  margin: 15px 0 0 0;
  font-size: 18px;
  top: 10px;
}

/**---  SECTION FOOTER  ---*/
footer {
  border-top: 2px solid var(--bg-color-icons);
  z-index: 4000;
}

.footer-contenedor {
  margin: 20px auto;
  gap: 15px;
}

.logo-footer {
  width: 110px;
  height: 25px;
}

.footer-redes-sociales {
  margin: 5px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
  justify-items: center;
}

.footer-botones-redes a {
  background-color: var(--bg-color-icons-footer);
  width: 55px;
  height: 55px;
  color: var(--bg-color-secundario);
  font-size: 25px;
  border-radius: 50%;
}

.texto-copyright {
  margin-bottom: 15px;
  font-size: 12px;
  color: #b0b0b0;
}

.texto-info {
  border-top: 2px solid var(--bg-color-icons-footer);
  padding: 5px;
}

/**---  MEDIA QUERYS  ---*/
@media (min-width: 1025px) {
  header {
    padding: 0px 15px;
    text-align: left;
    height: 4rem;
  }

  .logo img,
  .tienda img {
    width: 150px;
    height: 29px;
  }

  .logo img {
    margin-left: 20px;
  }

  .tienda img {
    height: 45px;
  }

  .contenido-menu {
    display: flex;
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: 100%;
    padding: 10px;
    flex-direction: row;
    background-color: transparent;
    border-bottom: none;
  }

  .redes-sociales,
  .tienda img,
  .boton-programacion-diaria a {
    margin-bottom: 0;
  }

  .menu-hamburguesa,
  .boton-flotante-vivo {
    display: none;
  }

  .boton-programacion-diaria a,
  .contenedor-vivo-escritorio a {
    padding: 10px;
    font-size: 13px;
  }

  .boton-programacion-diaria a {
    margin: auto 10px;
  }

  .redes-sociales .botones-redes {
    width: 40px;
    height: 40px;
    font-size: 21px;
  }

  .contenedor-vivo-escritorio {
    display: block;
    justify-content: center;
    align-items: center;
    order: -1;
  }

  .boton-programacion-diaria {
    order: -1;
  }

  .contenedor-vivo-escritorio .fa {
    font-size: 80%;
    margin-right: 2.5px;
  }

  .contenedor-vivo-escritorio .boton-vivo-escritorio {
    font-weight: 900;
  }

  .contenedor-vivo-escritorio a:hover .boton-vivo-escritorio,
  .contenedor-vivo-escritorio a:hover .fa {
    color: #ff0033;
  }

  .btn-con-icono,
  .btn-con-icono i,
  .tienda {
    transition: all 0.3s ease;
  }

  .btn-con-icono {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .btn-con-icono:hover,
  .tienda:hover {
    transform: scale(1.05);
    will-change: transform, text-shadow;
  }

  .btn-con-icono:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .btn-con-icono:hover i {
    transform: scale(1.05);
  }

  /*?---  BANNER RESUMIDO  ---*/
  .contenido-resumido {
    gap: 35px;
    height: 55px;
  }

  .contenido-pagina-resumido h2 {
    font-size: 13px;
  }

  .espacio-lados {
    gap: 30px;
  }

  .marca-resumido a {
    font-size: 35px;
  }

  .ocultar {
    display: block !important;
  }

  .tamaño-r {
    height: 60px;
    width: 60px;
  }

  .tamaño-flechas {
    height: 35px;
    width: 110px;
  }

  /*?---  RADIO EN VIVO   ----*/
  .fondo-seccion {
    background-image: url("img/fondos/fondos-seccion-inicial/fondo-streaming-en-vivo-desktop.webp");
  }

  .seccion-streaming-en-vivo iframe {
    height: 450px;
  }

  /*?--- GALERIA ---*/
  .fondo-main-index {
    background-image: url("img/fondos/fondos-main/fondo-pagina-index/fondo-main-desktop.webp");
  }

  .fondo-main-programacion-diaria {
    background-image: url("img/fondos/fondos-main/fondo-pagina-programacion-diaria/fondo-main-programacion-diaria-desktop.webp");
  }

  .imagenes-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(15px, 2vw, 40px);
    padding: clamp(20px, 2.5vw, 80px) clamp(15px, 6vw, 145px);
    justify-items: center;
  }

  .imagenes-galeria .programa:last-child:nth-child(3n + 1) {
    grid-column: 2;
  }

  .programa {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .programa:hover .imagen-superpuesta {
    opacity: 1;
  }

  .programa:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .programa:hover .img-programa {
    transform: scale(1.5);
  }

  .imagen-superpuesta {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.8));
  }

  .img-programa {
    transition: transform 0.3s ease;
  }

  .texto-iformacion-programa {
    font-size: 14px;
    bottom: 3%;
  }

  .cambios {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
  }

  /*!--- PAGINA PROGRAMACION DIARIA ---*/
  .contenido-programacion-diaria {
    padding: clamp(20px, 2.5vw, 80px) clamp(15px, 6vw, 145px);
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
  }

  .programacion-diaria-programa a {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .programacion-diaria-programa a:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 20px rgba(155, 89, 182, 0.9),
      0 0 10px rgba(155, 89, 182, 1.4), 0 0 30px rgba(155, 89, 182, 1.2);
  }

  .programacion-diaria-programa:nth-child(even) a {
    flex-direction: row-reverse;
  }

  .img-contenido-programas {
    width: 55%;
  }

  .programacion-diaria-programa:nth-child(odd) .img-contenido-programas {
    justify-content: flex-end;
  }

  .programacion-diaria-programa:nth-child(even) .img-contenido-programas {
    justify-content: flex-start;
  }

  .programacion-diaria-programa:nth-child(even) .programacion-diaria-img-programa {
    mask-image: linear-gradient(to left, black 70%, transparent 90%);
    -webkit-mask-image: linear-gradient(to left, black 70%, transparent 90%);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
  }

  .programacion-diaria-programa:nth-child(odd) .programacion-diaria-img-programa {
    mask-image: linear-gradient(to right, black 70%, transparent 90%);
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent 90%);
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
  }

  .informacion-programa {
    position: relative;
    width: 45%;
    padding: 0 30px;
    text-align: center;
    justify-content: center;
  }

  .programacion-diaria-programa:nth-child(even) .informacion-programa {
    position: relative;
    left: 2.5%;
  }

  .programacion-diaria-programa:nth-child(odd) .informacion-programa {
    position: relative;
    left: -0.5%;
  }

  .titulo-programa {
    font-size: 30px;
    line-height: 1.2;
  }

  .descripcion-programa {
    margin-bottom: 10px;
    line-height: 1.4;
  }

  .horario-programa {
    font-size: 22px;
    margin-top: auto;
  }

  /**---  SECTION FOOTER  ---*/
  .footer-contenedor {
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0 6px;
    padding: 0 70px;
  }

  .footer-redes-sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
  }

  .footer-redes-sociales a {
    width: 40px;
    height: 40px;
    font-size: 19px;
    transition: all 0.3s ease;
  }

  .footer-redes-sociales a:hover {
    color: var(--bg-color-primario);
    transform: scale(1.1);
  }

  .logo-footer {
    width: 130px;
  }
}

@media (min-width: 1920px) {
  .fondo-main-index {
    background-image: url("img/fondos/fondos-main/fondo-pagina-index/fondo-main-desktop-2560×1440.webp");
  }
}