* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #000;
}

/*---  SECTION HEADER  ---*/

header {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.logo img {
    width: 180px;
    height: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    list-style: none;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
}

.redes-logo.vivo {
    font-size: 16px;
    margin-bottom: 8px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.redes-logo a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.redes-logo a:hover {
    color: #007BFF; /* Cambia esto al color que prefieras */
}

/*---  SECTION FOOTER  ---*/

footer {
    background-color: var(--bg-color);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

