/*---  VARIABLES GLOBALES  ---*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*--- COLORES ---*/
    --bg-color-primario: #fff;
    --bg-color-secundario: #000;
    --bg-color-icons: #FF8DA8;
    --color-icons-footer: #000;
    --bg-color-icons-footer: #797d7f;

    /*--- TIPOGRAFIA ---*/
    --font-principal: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/**---  SECTION HEADER  ---*/
header {
    background-color: var(--bg-color-secundario);
    position: sticky;
    top: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo a {
    display: block;
}

.logo img {
    padding: 15px;
}

.vivo-container {
    display: none;
}

.menu-hamburguesa {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    background: none;
    border: none;
}

.menu-hamburguesa i {
    font-size: 30px;
    color: var(--bg-color-icons);
}

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 900;
    border: 1px solid var(--bg-color-primario);
    background-color: var(--bg-color-icons);
    font-family: var(--font-principal);
    color: white;
    padding: 12px 10px;
    border-radius: 50px;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ?---  Navecación principal  ---*/
.nav-container a,
.redes-logo a {
    text-decoration: none;
    background-color: var(--bg-color-icons);
    color: var(--bg-color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-container a {
    border-radius: 9px;
    text-align: center;
}

.nav-secundario {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-secundario,
.redes-sociales,
.shop,
.imagenes-galeria {
    width: 100%;
}

.programacion-diaria-container {
    font-weight: 600;
    font-size: 15px;
    list-style-type: none;
    font-family: var(--font-principal);
}

.redes-sociales {
    list-style: none;
    order: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: var(--bg-color-secundario);
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.redes-sociales.active {
    max-height: 500px;
    opacity: 1;
    padding: 20px 0;
}

.programacion-diaria-container {
    order: 2;
}

.programacion-diaria-container a {
    color: var(--bg-color-primario);
    background-color: var(--bg-color-icons);
    text-decoration: none;
    border-radius: 9px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.redes-sociales,
.shop {
    display: flex;
}


.redes-logo a {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
}

.shop {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop img {
    width: 150px;
    height: auto;
}

/**---  SECTION MAIN  ---*/
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*?---  BANNER RESUMIDO ---*/

.link-resumido h2 {
    font-family: var(--font-principal);
    background-color: var(--bg-color-secundario);
    color: var(--bg-color-primario);
    text-align: center;
    font-size: 10px;
    border-top: 2px solid var(--bg-color-icons-footer);
    padding: 6px 0;
}

.link-resumido a {
    text-decoration: none;
}

.content-resumido {
    background-image: url(multimedia/banner-resumido.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.text-resumido {
    color: var(--bg-color-primario);
    font-size: 25px;
    font-weight: 900;
    font-family: Arial, sans-serif;
    filter: drop-shadow(3px 3px 0 #000);
}

/*?--- GALERIA ---*/

.imagenes-galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.programa img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.9);
}

.img-ondemand-1 {
    width: 150%;
    height: auto;
    border-bottom: 2px solid var(--bg-color-icons);
}

.img-ondemand-3 {
    width: 150%;
    height: auto;
    border-top: 2px solid var(--bg-color-icons);
    border-bottom: 2px solid var(--bg-color-icons);
    margin-bottom: 2.5%;
}


/**---  SECTION FOOTER  ---*/
footer {
    background-color: var(--bg-color-secundario);
    color: var(--bg-color-primario);
    padding: 15px;
    text-align: center;
}

.footer-redes-sociales {
    list-style: none;
    list-style-type: none;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-redes-logo a {
    background-color: var(--bg-color-icons-footer);
    width: 30px;
    height: 30px;
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-programacion-diaria {
    margin-bottom: 15px;
}

.footer-programacion-diaria a {
    color: var(--bg-color-icons-footer);
    font-family: var(--font-principal);
    text-decoration: none;
}






















/**---  MEDIA QUERYS  ---*/


@media (max-width: 600px) {

    .radio-en-vivo {
        display: none;
    }

    .img-ondemand-2 {
        display: none;
    }
}


@media (min-width: 600px) and (max-width: 1024px) {
    
    
    .radio-en-vivo {
        background-image: url(multimedia/ilustraciones/circulo-completo-2048x1885-enVivo.png);
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
    }

    .img-ondemand-2 {
        width: 150%;
        height: auto;
        border-top: 2px solid var(--bg-color-icons);
        border-bottom: 2px solid var(--bg-color-icons);
        margin-bottom: 2.5%;
    }

    .content-vivo {
        margin: 30px 12px;
    }

    .radio-en-vivo iframe {
        width: 100%;
        max-width: 625px;
        height: 350px;
        border-radius: 15px;
        overflow: hidden; 
        border: 2px solid var(--bg-color-icons);
    }
}





@media (min-width: 1024px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 12px;
        flex-direction: row; 
        text-align: left; 
    }

    .redes-sociales {
        opacity: 1;
        overflow: visible;
    }

    .menu-hamburguesa {
        display: none;
    }

    .boton-flotante {
        display: none;
    }

    .vivo-container {
        display: block;
    }

    .vivo-container .fa {
        font-size: 80%;
        margin-right: 2.5px;
    }
    
    .nav-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .vivo-container,
    .programacion-diaria-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vivo-container .vivo {
        margin-left: 2.8px;
    }

    .vivo-container a {
        transition: color 0.8s ease;
    }

    .vivo-container a:hover .vivo,
    .vivo-container a:hover .fa {
        color: #FF0033;
    }

    .vivo-container a:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease; 
    }

    .programacion-diaria-container a:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease; 
    }

    .vivo-container .vivo {
        font-weight: 900;
        font-family: var(--font-principal);
    }

    .radio-en-vivo {
        background-image: url(multimedia/ilustraciones/circulo-completo-2048x1885-enVivo.png);
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
    }

    .content-vivo {
        margin: 30px 12px;
    }

    .img-ondemand-1,
    .img-ondemand-2,
    .img-ondemand-3 {
        width: 100%;
    }

    .imagenes-galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .programa img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border: solid 3px var(--bg-color-icons);
    }

    .footer-redes-sociales {
        gap: 10px;
        margin: 10px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-redes-sociales a {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .footer-redes-sociales a:hover {
        color: var(--bg-color-primario);
        transform: scale(1.1);
    }

    .footer-programacion-diaria {
        margin-bottom: 15px;
    }

    .footer-programacion-diaria a {
        transition: color 0.3s ease;
    }

    .footer-programacion-diaria a:hover {
        color: var(--bg-color-primario);
    }

}


































/*


@media (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 12px;
    }

    .logo {
        margin-right: 20px;
    }

    .nav-principal,
    .nav-secundario {
        display: flex;
        align-items: center;
    }

    .nav-principal {
        flex: 1;
        gap: 20px;
    }

    

    .nav-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .nav-container:last-child {
        margin-right: 18px;
    }

    

    .redes-sociales {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .redes-logo {
        display: flex;
        align-items: center;
    }

    .redes-logo a {
        font-size: 18px;
        margin: 2px;
    }

    .redes-logo a:hover {
        transform: scale(1.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .redes-logo:nth-child(1) a:hover { background-color: #33CBBE; }
    .redes-logo:nth-child(2) a:hover { background-color: #EFBC13; }
    .redes-logo:nth-child(3) a:hover { background-color: #F1CFE8; }
    .redes-logo:nth-child(4) a:hover { background-color: #E5143C; }
    .redes-logo:nth-child(5) a:hover { background-color: #00C7B0; }
    .redes-logo:last-child a:hover { background-color: #F0F0F0; }

    .shop {
        margin-left: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .shop:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .shop img:hover {
        filter: brightness(1.2);
    }
    


    *--- MAIN MOBILE ---
    
    .programa img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border: solid 3px var(--bg-color-icons);
    }
    
?---  BANNER RESUMIDO --

.content-resumido {
    padding: 10px;
}


?---  RADIO EN VIVO MOBILE ---

.radio-en-vivo {
    padding: 20px; 
}

.radio-en-vivo iframe {
    width: 100%;
    max-width: 700px;
    height: 410px;
}

?---  RADIO EN VIVO MOBILE ---



    *--- FOOTER MOBILE ---
    .footer-redes-sociales {
        gap: 10px;
        margin: 10px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-redes-sociales a {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .footer-redes-sociales a:hover {
        color: var(--bg-color-primario);
        transform: scale(1.1);
    }

    .footer-programacion-diaria {
        margin-bottom: 15px;
    }

    .footer-programacion-diaria a {
        transition: color 0.3s ease;
    }

    .footer-programacion-diaria a:hover {
        color: var(--bg-color-primario);
    }
    
}

*/